{% import _self as menus %}

<nav class="top col-md-9 col-md-pull-3 col-sm-10 col-sm-pull-2 pull-right">
    {{ menus.menu_links(items, attributes, 0) }}
</nav>

<ul class="pull-right" style="margin:0 40px 0 20px;">
    <li class="odd">
        <a href="/publicaciones"
           class="owi_button">Publicaciones</a>
    </li>
</ul>
<ul class="pull-right">
    <a href="#" class="dropdown-toggle" rel="menu-0-0" data-toggle="dropdown" role="button" aria-expanded="false">
        <i class="fa fa-user highlight"></i>
        {{ "Welcome #{given_name}" }}
        <i class="fa fa-angle-down after"></i></a>
    <ul class="dropdown-menu pull-right" role="menu">
        <li>
            <a href="/prime/usuarios-registrados">
                <i class="fa fa-user-md"></i>
                Inicio Prime
            </a>
            <a href="/user/logout">
                <i class="fa fa-user-md"></i>
                Cerrar Sesión
            </a>
        </li>
    </ul>
</ul>

