{% set info=enviar_post_ws('getCantidadContratadaPorPuntoDeEntrega','fechaInicial=2018-06-01&fechaFinal=2019-01-01&codigoOperador=0',1,1,'','','cantidad')  %}

{{ attach_library('bmcbec/chartJS') }}
<div class="filter-graphic" align="center">
    <div class="bmcbec-dp-left">
        <a href="?quickDate=1m" class="bmcbec-dp-button">1m</a>
        <a href="?quickDate=3m" class="bmcbec-dp-button">3m</a>
        <a href="?quickDate=6m" class="bmcbec-dp-button">6m</a>
        <a href="?quickDate=1a" class="bmcbec-dp-button">1a</a>
    <p class="helpText">Consulta rápidamente desde un mes (1m) hasta un año (1a)</p></div>
    <div class="bmcbec-dp-right">
    <form method="post" action="">
    <input type="text" class="span2" value="2019-02-01" id="dpd1" name="formDateBegin" data-date="2019-02-01" data-date-format="yyyy-mm-dd" data-date-viewmode="years" data-date-minviewmode="days" readonly="readonly">
    <input type="text" class="span2" value="2019-03-31" id="dpd2" name="formDateEnd" data-date="2019-03-31" data-date-format="yyyy-mm-dd" data-date-viewmode="years" data-date-minviewmode="days" readonly="readonly">

    <select name="formOperatorCode">
    <option value="0" selected="">-- Todos los Operadores --</option>
    <optgroup label="Seleccione un Operador">
        <option value="71">COINOBRAS GAS S.A. ESP</option>
        <option value="213">PROMIGAS S.A. E.S.P.</option>
        <option value="193">PROMIORIENTE S.A. E.S.P</option>
        <option value="214">PROMOTORA DE GASES DEL SUR S.A. E.S.P.</option>
        <option value="211">TRANSOCCIDENTE S.A. E.S.P.</option>
        <option value="228">TRANSPORTADORA DE GAS INTERNACIONAL S.A. E.S.P. - TGI S.A. ESP</option>
        <option value="205">TRANSPORTADORA DE METANO E.S.P S.A</option>
    </optgroup>
    </select>
    <input type="submit" value="Consultar" class="bmcbec-dp-button">
    </form>
    <p class="helpText">Consulta un periodo hasta 395 días</p></div>
    <div class="bmcbec-dp-fix"></div>
</div>

<div class="chart-container" >
<canvas id="canvas" ></canvas>
</div>
<style type="text/css">
    .chart-container {
  position: relative;
  margin: auto;
  height: 80vh;
  width: 80vw;
}
</style>
<script type="text/javascript">


var randomColor = function(opacity) {
    return 'rgba(' + Math.round(Math.random() * 255) + ',' + Math.round(Math.random() * 255) + ',' + Math.round(Math.random() * 255) + ',' + (opacity || '.3') + ')';
};

var lineChartData = {
    labels: [
        '2018/11/01',
        '2018/11/02',
        '2018/11/03',
        '2018/11/04',
        '2018/11/05',
        '2018/11/06',
        '2018/11/07',
        '2018/11/08',
        '2018/11/09',
        '2018/11/10',
        '2018/11/11',
        '2018/11/12',
        '2018/11/13',
        '2018/11/14',
        '2018/11/15',
        '2018/11/16',
        '2018/11/17',
        '2018/11/18',
        '2018/11/19',
        '2018/11/20',
        '2018/11/21',
        '2018/11/22',
        '2018/11/23',
        '2018/11/24',
        '2018/11/25',
        '2018/11/26',
        '2018/11/27',
        '2018/11/28',
        '2018/11/29',
        '2018/11/30',
        '2018/12/01',
        '2018/12/02',
        '2018/12/03',
        '2018/12/04',
        '2018/12/05',
        '2018/12/06',
        '2018/12/07',
        '2018/12/08',
        '2018/12/09',
        '2018/12/10',
        '2018/12/11',
        '2018/12/12',
        '2018/12/13',
        '2018/12/14',
        '2018/12/15',
        '2018/12/16',
        '2018/12/17',
        '2018/12/18',
        '2018/12/19',
        '2018/12/20',
        '2018/12/21',
        '2018/12/22',
        '2018/12/23',
        '2018/12/24',
        '2018/12/25',
        '2018/12/26',
        '2018/12/27',
        '2018/12/28',
        '2018/12/29',
        '2018/12/30',
        '2018/12/31',
        '2019/01/01',
        '2019/01/02',
        '2019/01/03',
        '2019/01/04',
        '2019/01/05',
        '2019/01/06',
        '2019/01/07',
        '2019/01/08',
        '2019/01/09',
        '2019/01/10',
        '2019/01/11',
        '2019/01/12',
        '2019/01/13',
        '2019/01/14',
        '2019/01/15',
        '2019/01/16',
        '2019/01/17',
        '2019/01/18',
        '2019/01/19',
        '2019/01/20',
        '2019/01/21',
        '2019/01/22',
        '2019/01/23',
        '2019/01/24',
        '2019/01/25',
        '2019/01/26',
        '2019/01/27',
        '2019/01/28',
        '2019/01/29',
        '2019/01/30',
        '2019/01/31',
        '2019/02/01',
        '2019/02/02',
        '2019/02/03',
        '2019/02/04',
        '2019/02/05',
        '2019/02/06',
        '2019/02/07',
        '2019/02/08',
        '2019/02/09',
        '2019/02/10',
        '2019/02/11',
        '2019/02/12',
        '2019/02/13',
        '2019/02/14',
        '2019/02/15',
        '2019/02/16',
        '2019/02/17',
        '2019/02/18',
        '2019/02/19',
        '2019/02/20',
        '2019/02/21',
        '2019/02/22',
        '2019/02/23',
        '2019/02/24',
        '2019/02/25',
        '2019/02/26',
        '2019/02/27',
        '2019/02/28',
        '2019/03/01',
        '2019/03/02',
        '2019/03/03',
        '2019/03/04',
        '2019/03/05',
        '2019/03/06',
        '2019/03/07',
        '2019/03/08',
        '2019/03/09',
        '2019/03/10',
        '2019/03/11',
        '2019/03/12',
        '2019/03/13',
        '2019/03/14',
        '2019/03/15',
        '2019/03/16',
        '2019/03/17',
        '2019/03/18',
        '2019/03/19',
        '2019/03/20',
        '2019/03/21',
        '2019/03/22',
        '2019/03/23',
        '2019/03/24',
        '2019/03/25',
        '2019/03/26',
        '2019/03/27',
        '2019/03/28',
        '2019/03/29',
        '2019/03/30',
        '2019/03/31',
        '2019/04/01',
        '2019/04/02',
        '2019/04/03',
        '2019/04/04',
        '2019/04/05',
        '2019/04/06',
        '2019/04/07',
        '2019/04/08',
        '2019/04/09',
        '2019/04/10',
        '2019/04/11',
        '2019/04/12',
        '2019/04/13',
        '2019/04/14',
        '2019/04/15',
        '2019/04/16',
        '2019/04/17',
        '2019/04/18',
        '2019/04/19',
        '2019/04/20',
        '2019/04/21',
        '2019/04/22',
        '2019/04/23',
        '2019/04/24',
        '2019/04/25',
        '2019/04/26',
        '2019/04/27',
        '2019/04/28',
        '2019/04/29',
        '2019/04/30',
    ],
    datasets: [
         {
         label: "Firme (MBTUD)",
         data: [
133795,133795,133795,133795,133795,133795,133795,133795,133795,133795,133795,133795,133795,133795,133795,133795,133795,133795,133795,133795,133795,133795,133795,133795,133795,133795,133795,133795,133795,133795,26654,26654,26654,26654,26654,26654,26654,26654,26654,26654,26654,26654,26654,26654,26654,26654,26654,26654,26654,26654,26654,26654,26654,26654,26654,26654,26654,26654,26654,26654,26654,26654,26654,26654,26654,26654,26654,26654,26654,26654,26654,26654,26654,26654,26654,26654,26654,26654,26654,26654,26654,26654,26654,26654,26654,26654,26654,26654,26654,26654,26654,26654,29345,29345,29345,29345,29345,29345,29345,29345,29345,29345,29345,29345,29345,29345,29345,29345,29345,29345,29345,29345,29345,29345,29345,29345,29345,29345,29345,29345,29345,29345,29345,29345,29345,29345,29345,29345,29345,29345,29345,29345,29345,29345,29345,29345,29345,29345,29345,29345,29345,29345,29345,29345,29345,29345,29345,29345,29345,29345,29345,26654,26654,26654,26654,26654,26654,26654,26654,26654,26654,26654,26654,26654,26654,26654,26654,26654,26654,26654,26654,26654,26654,26654,26654,26654,26654,26654,26654,26654,26654,         ]
         },
    ]
};

$.each(lineChartData.datasets, function(i, dataset) {
    var tempColor = randomColor(1);
        dataset.borderColor = tempColor;
        dataset.backgroundColor = tempColor;
        dataset.pointBorderColor = tempColor;
        dataset.pointBackgroundColor = tempColor;
        dataset.borderWidth = 9;
        dataset.pointBorderWidth = 0;
        dataset.pointHoverRadius = 0;
        dataset.pointHoverBorderWidth = 0;
        dataset.pointRadius = 0;
        dataset.pointHitRadius = 0;
});

window.onload = function () {
    var chartEl = document.getElementById("canvas");
    window.myLine = new Chart(chartEl, {
        type: 'line',
        data: lineChartData,
        options: {
            responsive: true,
            title: {
                display:true,
                text: 'CANTIDAD CONTRATADA - PUNTO DE ENTREGA',
                fontSize: 16,
            },
            tooltips: {
                mode: 'label',
                enabled: true
                //custom: customTooltips
            }
        }
    });
};
    </script>
