{% set info=enviar_post_ws('getCantidadEnergiaSuministrar','fechaInicial=2018-12-01&fechaFinal=2019-01-31&codigoPozo=0',1,1,'','','cantidad') %}

<link rel="stylesheet" type="text/css"
      href="https://cdn.datatables.net/v/dt/jqc-1.12.4/jszip-3.1.3/pdfmake-0.1.27/dt-1.10.15/af-2.2.0/b-1.3.1/b-colvis-1.3.1/b-flash-1.3.1/b-html5-1.3.1/b-print-1.3.1/cr-1.3.3/fc-3.2.2/fh-3.1.2/kt-2.2.1/r-2.1.1/rg-1.0.0/rr-1.2.0/sc-1.4.2/se-1.2.2/datatables.min.css"/>
<script type="text/javascript"
        src="https://cdn.datatables.net/v/dt/jqc-1.12.4/jszip-3.1.3/pdfmake-0.1.27/dt-1.10.15/af-2.2.0/b-1.3.1/b-colvis-1.3.1/b-flash-1.3.1/b-html5-1.3.1/b-print-1.3.1/cr-1.3.3/fc-3.2.2/fh-3.1.2/kt-2.2.1/r-2.1.1/rg-1.0.0/rr-1.2.0/sc-1.4.2/se-1.2.2/datatables.min.js"></script>
{# <script type="text/javascript" src="src/js/tables.js"></script>#}
<link rel="stylesheet" type="text/css"
      href="http://www.bmcbec.com.co/App_Plugins/BECCharts/front-end/datePicker/css/datepicker.css">
<script type="text/javascript"
        src="http://www.bmcbec.com.co/App_Plugins/BECCharts/front-end/datePicker/js/bootstrap-datepicker.js"></script>

{{ attach_library('bmcbec/chartJS') }}
<div class="filter-graphic" align="center">
    <div class="bmcbec-dp-left">
        <form method="post" action="">
            <input type="submit" name="quickDate" value="1m" class="bmcbec-dp-button"/>
            <input type="submit" name="quickDate" value="3m" class="bmcbec-dp-button"/>
            <input type="submit" name="quickDate" value="6m" class="bmcbec-dp-button"/>
            <input type="submit" name="quickDate" value="1a" class="bmcbec-dp-button"/>
        </form>
        <p class="helpText">Consulta rápidamente desde un mes (1m) hasta un año (1a)</p>
    </div>
    <div class="bmcbec-dp-right">
        <form method="post" action="">
            <input type="text" class="span2" value="2019-02-01" id="dpd1" name="formDateBegin" data-date="2019-02-01"
                   data-date-format="yyyy-mm-dd" data-date-viewmode="years" data-date-minviewmode="days"
                   readonly="readonly">
            <input type="text" class="span2" value="2019-03-31" id="dpd2" name="formDateEnd" data-date="2019-03-31"
                   data-date-format="yyyy-mm-dd" data-date-viewmode="years" data-date-minviewmode="days"
                   readonly="readonly">

            <select name="formWellCode">
                <option value="0" selected="">-- Todos los Puntos de Entrada --</option>
                <optgroup label="Seleccione un Punto de Entrada">
                    <option value="98">APAMATE</option>
                    <option value="13">APIAY</option>
                    <option value="39">BALLENA</option>
                    <option value="75">BONGA MAMEY</option>
                    <option value="233">BULLERENGUE</option>
                    <option value="54">CANTAGALLO</option>
                    <option value="77">CARAMELO</option>
                    <option value="43">CARTAGENA</option>
                    <option value="72">CERRITO</option>
                    <option value="236">CLARINETE</option>
                    <option value="237">CORRALES</option>
                    <option value="53">CUPIAGÜA</option>
                    <option value="12">CUSIANA</option>
                    <option value="56">EL CENTRO</option>
                    <option value="93">EL DIFICIL</option>
                    <option value="34">FLOREÑA</option>
                    <option value="19">GIBRALTAR</option>
                    <option value="71">GUADUAS</option>
                    <option value="241">GUAMA</option>
                    <option value="243">HOCOL</option>
                    <option value="45">JOBO</option>
                    <option value="160">LA CAÑADA NORTE</option>
                    <option value="40">LA CRECIENTE</option>
                    <option value="164">LA HOCHA</option>
                    <option value="63">LA PUNTA</option>
                    <option value="62">LISAMA</option>
                    <option value="55">LLANITO</option>
                    <option value="37">NEIVA</option>
                    <option value="242">NO CONECTADO</option>
                    <option value="180">OPON</option>
                    <option value="59">ORIPAYA</option>
                    <option value="259">PK8 CUPIAGUA</option>
                    <option value="57">PROVINCIA</option>
                    <option value="86">PULI</option>
                    <option value="58">SANTA CLARA</option>
                    <option value="26">SARDINATA</option>
                    <option value="244">SPEC</option>
                    <option value="61">TOQUI TOQUI</option>
                    <option value="256">UNIDAD FLOTANTE DE ALMACENAMIENTO Y REGASIFICACIÓN (FSRU)</option>
                </optgroup>
            </select>
            <input type="submit" value="Consultar" class="bmcbec-dp-button">
        </form>
        <p class="helpText">Consulta un periodo hasta 395 días</p></div>
    <div class="bmcbec-dp-fix"></div>
</div>

<div class="chart-container">
    <canvas id="canvas"></canvas>
</div>
<style type="text/css">
    .chart-container {
        position: relative;
        margin: auto;
        height: 80vh;
        width: 80vw;
    }
</style>

<script type="text/javascript">

    $(document).ready(function () {
        datesFieldsValidation(395, 395);
    });

    var randomColor = function (opacity) {
        return 'rgba(' + Math.round(Math.random() * 255) + ',' + Math.round(Math.random() * 255) + ',' + Math.round(Math.random() * 255) + ',' + (opacity || '.3') + ')';
    };


    var lineChartData = {
        labels: [{% for item in info['labels'] %}"{{ item }}",{% endfor %}  ],
        datasets: [
            {
                label: "Cantidad (MBTUD)",
                data: [{% for item in info['data'] %}"{{ item }}",{% endfor %} ]
            },

        ]
    };

    $.each(lineChartData.datasets, function (i, dataset) {
        dataset.borderColor = randomColor(0.4);
        dataset.backgroundColor = randomColor(1);
        dataset.pointBorderColor = randomColor(0.7);
        dataset.pointBackgroundColor = randomColor(0.5);
        dataset.pointBorderWidth = 1;
    });

    window.onload = function () {
        var ctx = document.getElementById("canvas");
        window.myLine = Chart.Line(ctx, {
            data: lineChartData,
            options: {
                responsive: true,
                hoverMode: 'label',
                stacked: false,
                title: {
                    display: false,
                    text: 'CANTIDAD DE ENERGÍA A SUMINISTRAR',
                    fontSize: 16,
                },
                legend: {
                    position: (/Android|webOS|iPhone|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent)) ? 'bottom' : 'top'
                },
                scales: {
                    xAxes: [{
                        display: true,
                        gridLines: {
                            offsetGridLines: false
                        },
                        ticks: {
                            userCallback: function (dataLabel, index) {
                                return index % 2 === 0 ? dataLabel : '';
                            }
                        }
                    }],
                    yAxes: [{
                        type: "linear",
                        display: true,
                        position: "left",
                        id: "y-axis-1",
                    }],
                }
            }
        });
    };

    $('#randomizeData').click(function () {
        lineChartData.datasets[0].data = [randomScalingFactor(), randomScalingFactor(), randomScalingFactor(), randomScalingFactor(), randomScalingFactor(), randomScalingFactor(), randomScalingFactor()];

        lineChartData.datasets[1].data = [randomScalingFactor(), randomScalingFactor(), randomScalingFactor(), randomScalingFactor(), randomScalingFactor(), randomScalingFactor(), randomScalingFactor()];

        window.myLine.update();
    });

    var c = document.getElementById("canvas");
    var ctx = c.getContext("3d");
    ctx.font = "30px Arial";

</script>