<section class="content advanced-component standard-components">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 col-xs-12" role="main">
                <div class="page_component codeblock">
                    <object id="becchartframe" width="100%" height="700"
                            data="http://www.bmcbec.com.co/App_Plugins/BECCharts/front-end/transaccional-MS-IT.cshtml"
                            style="height:1000px; width:100%; border:0;" scrolling="no">
                    </object>
                    <style>
                        #pos_2101 + section > div {
                            width: 100% !important;
                            margin: 0;
                            padding: 0;
                            maintainAspectRatio: false
                        }
                    </style>
                </div>
            </div>
        </div>
    </div>
</section>