<section class="content advanced-component text-with-image_video secondary_colour_2-bg">
    <div class="container">
        <!-- ROW -->
        <div class="row">
            <div class="col-md-5 col-xs-12 pull-right os-animation animated fadeIn" data-os-animation="fadeIn"
                 data-os-animation-delay="0">
                <!-- INFO -->
                <div class="info">

                    <h1 class="heading main primary_colour_1-text">Informes de Mercado</h1>
                    <div class="text ">
                        <p>En esta sección se encuentran los informes del mercado mayorista de gas natural, conforme a
                            las declaraciones de información realizadas por los participantes del mercado inscritos ante
                            en Gestor:</p>
                        <ul>
                            <li class="odd">Informes de Divulgación Anual</li>
                            <li class="even">Resultados del Proceso de Comercialización</li>
                            <li class="odd">Informes Semestrales</li>
                            <li class="even">Informes Naturgas</li>
                        </ul>
                    </div>
                    <p class="link"><a role="button" class="btn primary_colour_1-bg secondary_colour_3-text"
                                       href="/informes/">Regresar a Todos los Informes</a></p>
                </div>
                <!--// INFO -->
            </div>
            <div class="col-md-6 col-xs-12 pull-left">
                <div class="image video os-animation animated fadeInLeft" data-os-animation="fadeInLeft"
                     data-os-animation-delay="0">
                    <img alt=""
                         src="/media/1153/contenido-reportes-informes-3.jpg?anchor=center&amp;mode=crop&amp;width=720&amp;height=495&amp;rnd=131153233690000000">
                </div>
            </div>
        </div>
        <!--// ROW -->
    </div>
</section>

<section class="content advanced-component standard-components">
    <div class="container">
        <div class="row">
            <div id="mid_col" class="col-md-8 col-md-offset-2 col-xs-12" role="main">    <!-- PAGE COMPONENT TEXT -->
                <div class="page_component textblock">
                    <h3>Informes Disponibles</h3>
                </div>
                <!--// PAGE COMPONENT TEXT -->
            </div>
        </div>
    </div>
</section>

<section class="content advanced-component standard-components">
    <div class="container">
        <div class="row">
            <div id="mid_col" class="col-md-8 col-md-offset-2 col-xs-12" role="main">
                <!-- PAGE COMPONENT TABBED -->
                <div class="page_component tabbed" role="tabpanel">
                    <ul class="nav nav-tabs responsive hidden-xs hidden-sm" role="tablist">
                        <li role="presentation" class="odd active">
                            <a href="#tabname-3530-1"
                               aria-controls="tabname-3530-1" role="tab"
                               data-toggle="tab" aria-expanded="true">
                                2019
                                <i class="fa fa-chevron-down pull-right after highlight"></i>
                            </a>
                        </li>
                        <li role="presentation" class="even">
                            <a href="#tabname-3530-2" aria-controls="tabname-3530-2" role="tab" data-toggle="tab" aria-expanded="false">
                                2018
                                <i class="fa fa-chevron-down pull-right after highlight"></i>
                            </a>
                        </li>
                    </ul>
                    <div class="tab-content panel panel-default responsive hidden-xs hidden-sm">
                        <div id="tabname-3530-1" role="tabpanel" class="tab-pane panel-body active">
                            <p>
                                <a data-id="11592" href="/media/3018/alcance-publicación-declaración-de-producción-2019-2028.pdf"
                                   target="_blank"
                                   title="Alcance Publicación Declaración de Producción 2019-2028.pdf">Alcance
                                    Publicación Declaración de Producción 2019-2028
                                </a>
                            </p>
                            <ul>
                                <li class="odd"><a data-id="11665"
                                                   href="/media/3065/declaracion-produccion-2019_2028-soporteact.xlsx"
                                                   target="_blank"
                                                   title="Declaracion-produccion-2019_2028-soporteact.xlsx">Soporte
                                        Declaración Producción 2019-2028 <em>Actualizado</em></a></li>
                            </ul>
                        </div>
                        <div id="tabname-3530-2" role="tabpanel" class="tab-pane panel-body">
                            <p><a data-id="6601"
                                  href="/media/2422/proceso-de-comercializacion-de-gas-natural-2018.pdf"
                                  target="_blank" title="Proceso de Comercializacion de Gas Natural 2018.pdf">Informe
                                    de resultados del Proceso de Comercialización de Gas Natural 2018</a> - <em>05
                                    de diciembre de 2018</em></p>
                            <p><a data-id="5219"
                                  href="/media/2186/resultados-contratacion-de-lp-y-reservas-de-gas.pdf"
                                  target="_blank" title="Resultados Contratacion de LP y Reservas de Gas.pdf">Alcance
                                    Resultados comercialización de suministro de gas natural de largo plazo</a>
                                - <em>14 de agosto de 2018</em>
                            </p>
                        </div>
                    </div>
                </div>
                <!--// PAGE COMPONENT TABBED -->
            </div>
        </div>
    </div>
</section>