{% if logged_in %}
    <section class="content advanced-component standard-components">
        <div class="">
            <div class="col-xs-12" role="main">
                <div class="page_component codeblock">
                    <iframe id="BI3" width="100%" height="900"
                            src="{{ node.field_iframe.0.url }}"
                            style="height:900px; border:0;" scrolling="no">
                    </iframe>
                    <style>
                        #pos_4004 + section > div {
                            width: 100% !important;
                            margin: 0;
                            padding: 0;
                        }

                        #pos_4004 + section > div > div > div {
                            width: 100% !important;
                            margin: 0;
                            padding: 0;
                        }
                    </style>
                </div>
            </div>
        </div>
    </section>

    <section class="content advanced-component grid secondary_colour_3-bg">
        <div class="" data-os-animation="fadeIn" data-os-animation-delay="0">
            <div class="umb-grid">
                <div class="grid-section">
                    <div>
                        <div class="container">
                            {{ drupal_block('paginator_reports_prime_block') }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% else %}
    <script>window.location.href = '/user/login'</script>
{% endif %}