<section class="content">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1 class="heading">{{ node.title.value }}</h1>
            </div>
        </div>
        <div class="row">
            <div id="left_col" class="col-sm-8" role="main">
                <div class="page_component image">
                    {% set imagestyle = {
                        '#theme':      'image_style',
                        '#style_name': 'custom_750x362',
                        '#uri':        node.field_image.entity.uri.value,
                        '#alt':        '',
                    } %}
                    {{ imagestyle }}
                </div>
                {{ node.body.value | raw }}
            </div>
            <div id="right_col" class="col-sm-4 col-lg-3 col-lg-offset-1" role="complementary">            <!-- SUB  -->
                {{ drupal_block('participants_block') }}
                <div class="promo_pods ">
                    <div class="item imagepod odd">
                        <div class="image">
                            <a href="/publicaciones" class="img-mas-noticias" target="">
                                <div class="overlayicon" style="width: 263px; height: 197px;">
                                    <i class="fa fa fa-chain"></i>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="item panel panel-default even">
                        <div class="panel-body primary_colour_2-bg">
                            <p class="heading secondary_colour_3-text">Nuestras Oficinas </p>
                            <div class="info">
                                <div class="text secondary_colour_3-text">
                                    <p>Calle 113 No. 7-21<br>Piso 15 Torre A <br>Edif.&nbsp;Teleport
                                    Business Park<br>Pbx: +57(1) 629-2529<br>Bogotá D.C., Colombia</p>
                                </div>
                                <p class="link"><a href="/contáctenos/#pos_1327" class="btn secondary_colour_3-bg primary_colour_1-text">Escríbanos sus comentarios</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section style="background-color: rgba(238,238,238,1)" class="content advanced-component cta-strip secondary_colour_2-bg">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1 class="heading main primary_colour_1-text">Todo sobre nosotros</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 col-xs-12">
                <div class="text ">
                    <p>Conozca cómo desde el <strong>Gestor del Gas Natural en Colombia</strong> en cabeza de la Bolsa
                        Mercantil de Colombia, promovemos la competitividad del sector en el país.</p>
                </div>
            </div>
            <div class="col-md-3 col-xs-12 pull-right">
                <p class="link">
                    <a style="background-color: rgba(102,201,137,1)" class="btn btn-block btn-lg primary_colour_2-bg secondary_colour_3-text" href="/nosotros/">Más Información</a></p>
            </div>
        </div>
    </div>
</section>