.btn{
	color: #fff;
	border-radius: 0;
    position: relative;
	transition: all 0.2s ease-in-out 0s;
	box-shadow: 0px 2px 0px rgba(0,0,0,0.2);
	&.btn-green{
		background: $green;
		&:hover{
			background: lighten($green, 10%);
		}
	}
	&.btn-blue{
		background: $main-blue;
		&:hover{
			background: lighten($main-blue, 10%);
		}
	}
	&.color-text-blue{
		color: $main-blue;
	}
	&:hover{
		color: #fff;
	}
}

button, .btn {
    font-weight: 500;
    letter-spacing: 0.025em;
}
