section{
	.header-section{
		h2{
			columns: white;
		}
		.description{
			columns: white;
		}
	}
	.body-section{
		p{
			columns: white;
		}
	}
	a{
		&.main-green{
			columns: white;
		}
	}
	
	&.section-participantes{
		background: $sec-blue;
	}
}

@media (min-width: 1921px){
}

@media (max-width: 1290px){
}

@media (max-width: 1120px){
}

@media (max-width: 480px){
}
