header.navbar{
}

@media (min-width: 1921px){
	header.navbar{
		left: 50%;
		width: 1920px;
		margin-left: -960px
	}
}

@media (max-width: 1290px){
}

@media (max-width: 1120px){
}

@media (max-width: 480px){
}
