<nav class="sub panel panel-default">
    {% if terms %}
        <p class="heading primary_colour_1-text"><span>Categorías</span></p>
        <ul class="nav">
            {% for term in terms %}
                <li class="odd">
                    <a href="/publicaciones/?categoria={{ term.name }}" rel="NOINDEX, FOLLOW">
                        {{ term.name }} - {{ term.weight }} - {{ term.parent }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
</nav>