<nav class="sub panel panel-default">
    <p class="heading primary_colour_1-text">
        <a class="primary_colour_1-text" href="/publicaciones/">Todas las publicaciones</a>
    </p>
    <ul class="nav">
        {% set currentYear = now.year %}
        {% for i in 0..4 %}
            <li class="odd">
                <a href="/publicaciones/?created[min]={{ currentYear }}-01-01&created[max]={{ currentYear }}-12-31"
                   rel="NOINDEX, FOLLOW">Año {{ currentYear }}</a>
            </li>
            {% set currentYear - 1 %}
        {% endfor %}
    </ul>
</nav>