<ul class="pull-right">
    <a href="#" class="dropdown-toggle" rel="menu-0-0" data-toggle="dropdown" role="button" aria-expanded="false">
        <i class="fa fa-user highlight"></i>
        {{ user }}
        <i class="fa fa-angle-down after"></i></a>
    <ul class="dropdown-menu pull-right" role="menu">
        <li>
            <a href="/prime/usuarios-registrados">
                <i class="fa fa-user-md"></i>
                Inicio Prime
            </a>
            <a href="/user/logout">
                <i class="fa fa-user-md"></i>
                Cerrar Sesión
            </a>
        </li>
    </ul>
</ul>