<section class="content advanced-component image_carousel secondary_colour_3-bg">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="gallery slides slick-initialized slick-slider">
                    <div class="slick-list draggable" tabindex="0">
                        <div class="slick-track" style="opacity: 1;transform: translate3d(0px, 0px, 0px);">
                            {% if reports %}
                                {% for report in reports %}
                                    <div class="item even slide-pop slick-active" index="3" style="width: 240px;margin: 0 auto;">
                                        <div class="image">
                                            <a href="{{ path('entity.node.canonical', {'node': report.id}) }}">
                                                {% set imagestyle = {
                                                    '#theme':      'image_style',
                                                    '#style_name': '240x171',
                                                    '#uri':        report.field_image.entity.uri.value,
                                                    '#alt':        '',
                                                } %}
                                                {{ imagestyle }}
                                                <div class="overlayicon" style="width: 284px; height: 151px;">
                                                    <i class="fa fa-link"></i>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<style>
    .slide-pop {
        float: left;
        height: 100%;
        min-height: 1px;
    }
    @media(max-width: 750px){
        .slide-pop {
            float: inherit;
        }
    }
</style>