<div class="panel-body">
    <div class="listing blog">
        <p class="heading">Publicaciones Recientes</p>

        {% if recents %}
            {% for empresa in recents %}
                <div class="item even" itemscope="" itemtype="http://schema.org/BlogPosting">
                    <div class="info">
                        <a href="{{ path('entity.node.canonical', {'node': recent.id}) }}" itemprop="url">
                            <p class="heading" itemprop="name headline">
                                {{ recent.title.value }}
                            </p>
                        </a>

                    </div>
                    <div class="meta">
                        <div>
                            <time itemprop="datePublished">
                                <span class="date">{{ node.published_at.value|date('j M Y') }}</span>
                            </time>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% endif %}
        <!--<div class="item odd" itemscope="" itemtype="http://schema.org/BlogPosting">
            <div class="info">
                <a href="/publicaciones/posts/noticias/noticias/en-mayo-demanda-de-energía-en-el-país-subió-4-8-por-ciento/"
                   itemprop="url">

                    <p class="heading" itemprop="name headline">
                        En mayo, demanda de energía en el país subió 4,8 por ciento
                    </p>
                </a>

            </div>
            <div class="meta">
                <div>
                    <time itemprop="datePublished"><span class="date">20 Jun 2019</span></time>
                </div>
            </div>
        </div>
        <div class="item even" itemscope="" itemtype="http://schema.org/BlogPosting">
            <div class="info">
                <a href="/publicaciones/posts/noticias/noticias/por-el-uso-eficiente-de-la-energía/"
                   itemprop="url">

                    <p class="heading" itemprop="name headline">
                        Por el uso eficiente de la energía
                    </p>
                </a>

            </div>
            <div class="meta">
                <div>
                    <time itemprop="datePublished"><span class="date">20 Jun 2019</span></time>
                </div>
            </div>
        </div>-->
    </div>
    <a class="see_all" href="/publicaciones/">Ver todos</a>
</div>