<section style="background-color: rgba(46,137,182,1);"
         class="content advanced-component cta-strip secondary_colour_1-bg">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1 style="color: #FFF;" class="main secondary_colour_3-text">Participantes Inscritos</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 col-xs-12">
                <div class="text secondary_colour_3-text">
                    <p><span style="color: #FFF;" class="intro">Conozca&nbsp;la información relacionada con&nbsp;los participantes y su rol dentro del mercado mayorista de Gas Natural en Colombia, tales como Productores-Comercializadores, Comercializadores, Comercializadores de Gas Importado, Transportadores, Generadores Térmicos y Usuarios no Regulados.&nbsp;Regístrese&nbsp;como participante.</span>
                    </p>
                </div>
            </div>
            <div class="col-md-3 col-xs-12 pull-right">
                <p class="link">
                    <a style="background-color: rgba(102,201,137,1);"
                       class="btn btn-block btn-lg primary_colour_2-bg secondary_colour_3-text"
                       href="/participantes/">
                        Conocer los Participantes
                    </a>
                </p>
            </div>
        </div>
    </div>
</section>