<section class="content advanced-component grid secondary_colour_3-bg">
    <div class="" data-os-animation="fadeIn" data-os-animation-delay="0">
        <div class="umb-grid">
            <div class="grid-section">
                <div>
                    <div class="container">
                        <div class="row clearfix">
                            <div class="col-md-12 column">
                                <div>
                                    <h1>Ayudas Audiovisuales</h1>
                                    <p style="text-align: justify;"><span class="intro">Material informativo que le ayudará a entender&nbsp;la estructura y funcionamiento del&nbsp;Mercado de Gas Natural en Colombia.</span>
                                    </p>
                                    <p>&nbsp; &nbsp;&nbsp;</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="container">
                        <div class="row clearfix">
                            <div class="col-md-12 column">
                                <div>
                                {% set resultados = view.result %}
                                {% for key , row in resultados %}
                                    {% set data = row._entity %}
                                    {% if key < 2 %}
                                        <p>
                                            <iframe width="100%" height="700" src="{{ data.field_ayuda_audiovisual[0].value }}" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen=""></iframe>
                                        </p>
                                    {% endif %}
                                {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="container">
                        <div class="row clearfix">
                            <div class="col-md-12 column">
                                <div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="container">
                        <div class="row clearfix">
                            <div class="col-md-4 column">
                                <div>
                                    <p>
                                        <iframe width="360" height="203" src="https://www.youtube.com/embed/CcShqurnvp0"
                                                frameborder="0" allow="autoplay; encrypted-media"
                                                allowfullscreen=""></iframe>
                                    </p>
                                    <h5 style="text-align: center;"><a data-id="3666"
                                                                       href="/publicaciones/posts/noticias/ayuda-audiovisual/indicadores-creg-del-mercado-primario/"
                                                                       target="_top"
                                                                       title="Boletín Electrónico Central">Boletín
                                            Electrónico Central</a></h5>
                                    <p style="text-align: center;">24 de enero de 2018</p>


                                </div>
                            </div>
                            <div class="col-md-4 column">
                                <div>


                                    <p>
                                        <iframe width="360" height="203" src="https://www.youtube.com/embed/3jvgiJWvGFc"
                                                frameborder="0" allow="autoplay; encrypted-media"
                                                allowfullscreen=""></iframe>
                                    </p>


                                    <h5><a data-id="3666"
                                           href="/publicaciones/posts/noticias/ayuda-audiovisual/indicadores-creg-del-mercado-primario/"
                                           target="_top" title="Indicadores CREG del Mercado Primario">Indicadores CREG
                                            del Mercado Primario</a></h5>
                                    <p style="text-align: center;">16 de enero de 2018</p>


                                </div>
                            </div>
                            <div class="col-md-4 column">
                                <div>

                                    <iframe width="360" height="203"
                                            src="https://www.youtube.com/embed/UYDMzm3EYAI?feature=oembed"
                                            frameborder="0" allow="autoplay; encrypted-media"
                                            allowfullscreen=""></iframe>


                                    <h5 style="text-align: center;"><a data-id="3613"
                                                                       href="/publicaciones/posts/noticias/ayuda-audiovisual/mapa-interactivo-del-mercado/"
                                                                       title="Mapa Interactivo del Mercado">Mapa
                                            Interactivo del Mercado</a></h5>
                                    <p style="text-align: center;">09 de enero de 2018</p>


                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="container">
                        <div class="row clearfix">
                            <div class="col-md-12 column">
                                <div>


                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="container">
                        <div class="row clearfix">
                            <div class="col-md-4 column">
                                <div>

                                    <iframe width="360" height="203"
                                            src="https://www.youtube.com/embed/yEiXVjJtITo?feature=oembed"
                                            frameborder="0" gesture="media" allow="encrypted-media"
                                            allowfullscreen=""></iframe>


                                    <h5 class="title style-scope ytd-video-primary-info-renderer"
                                        style="text-align: center;"><a data-id="3416"
                                                                       href="/publicaciones/posts/noticias/ayuda-audiovisual/horarios-de-operación-subastas-úselo-véndalo-largo-plazo/"
                                                                       title="Horarios de operación subastas Úselo Véndalo Largo plazo">Horarios
                                            de operación subastas Úselo Véndalo Largo plazo</a></h5>
                                    <p style="text-align: center;">12 de diciembre de 2017</p>


                                </div>
                            </div>
                            <div class="col-md-4 column">
                                <div>

                                    <iframe width="360" height="203"
                                            src="https://www.youtube.com/embed/OuyMPWPEeiU?feature=oembed"
                                            frameborder="0" gesture="media" allow="encrypted-media"
                                            allowfullscreen=""></iframe>


                                    <h5 class="title style-scope ytd-video-primary-info-renderer"
                                        style="text-align: center;"><a data-id="3338"
                                                                       href="/publicaciones/posts/noticias/ayuda-audiovisual/horarios-de-operación-de-las-subastas-úselo-o-véndalo-de-cp-de-suministro/"
                                                                       title="Horarios de operación de las Subastas Úselo o Véndalo de CP de Suministro">Horarios
                                            de operación de las Subastas Úselo o Véndalo de CP de Suministro</a></h5>
                                    <p style="text-align: center;">05 de diciembre de 2017</p>


                                </div>
                            </div>
                            <div class="col-md-4 column">
                                <div>

                                    <iframe width="360" height="203"
                                            src="https://www.youtube.com/embed/gTWnbo6YTqs?feature=oembed"
                                            frameborder="0" gesture="media" allow="encrypted-media"
                                            allowfullscreen=""></iframe>


                                    <h5 style="text-align: justify;"><a data-id="3307"
                                                                        href="/publicaciones/posts/noticias/ayuda-audiovisual/horarios-de-operación-de-las-subastas-úselo-véndalo-de-corto-plazo-de-capacidad-de-transporte/"
                                                                        target="_top"
                                                                        title="Horarios de operación de las subastas úselo véndalo de corto plazo de capacidad de transporte">Horarios
                                            de operación de las subastas úselo véndalo de corto plazo de capacidad de
                                            transporte</a></h5>
                                    <p style="text-align: center;">28 de noviembre de 2017</p>


                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="container">
                        <div class="row clearfix">
                            <div class="col-md-4 column">
                                <div>

                                    <iframe width="360" height="203"
                                            src="https://www.youtube.com/embed/6c0E7UPRzCs?feature=oembed"
                                            frameborder="0" gesture="media" allow="encrypted-media"
                                            allowfullscreen=""></iframe>


                                    <h5 style="text-align: justify;"><a data-id="3262"
                                                                        href="/publicaciones/posts/noticias/ayuda-audiovisual/duración-que-deben-tener-los-contratos-pactados-en-el-mercado-secundario/"
                                                                        target="_top"
                                                                        title="Duración que deben tener los contratos pactados en el Mercado Secundario">Duración
                                            que deben tener los contratos pactados en el Mercado Secundario</a></h5>
                                    <p style="text-align: center;">21 de noviembre de 2017</p>


                                </div>
                            </div>
                            <div class="col-md-4 column">
                                <div>

                                    <iframe width="360" height="203"
                                            src="https://www.youtube.com/embed/0WzGMdNlwjQ?feature=oembed"
                                            frameborder="0" gesture="media" allow="encrypted-media"
                                            allowfullscreen=""></iframe>


                                    <h5><a data-id="3204"
                                           href="/publicaciones/posts/noticias/ayuda-audiovisual/cuál-es-la-información-operativa-que-deben-declarar-los-participantes/"
                                           target="_top"
                                           title="Cuál es la Información operativa que deben declarar los participantes">Cuál
                                            es la Información operativa que deben declarar los participantes</a></h5>
                                    <p style="text-align: center;">14 de noviembre de 2017</p>


                                </div>
                            </div>
                            <div class="col-md-4 column">
                                <div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="container">
                        <div class="row clearfix">
                            <div class="col-md-12 column">
                                <div>


                                    <h5 style="text-align: center;">&nbsp; &nbsp;</h5>
                                    <p>&nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</p>
                                    <h5 style="text-align: center;"><a href="/publicaciones/?category=2875"
                                                                       target="_top" title="Audiovisuales"><strong>Ver
                                                más Ayudas Audiovisuales</strong></a></h5>


                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>