/* leva css */

.promo_pods {
    &.primary_colour_1-bg {
        background-color: rgba(11, 90, 156, 1);
    }

    &.secondary_colour_3-text {
        color: rgba(255, 255, 255, 1);;
    }

    &.primary_colour_2-bg {
        background-color: rgba(102, 201, 137, 1);
    }

}
