/* leva css */

.promo_pods .primary_colour_1-bg {
    background-color: rgba(11, 90, 156, 1);
}

.promo_pods .secondary_colour_3-text {
    color: rgba(255, 255, 255, 1);;
}

.promo_pods .primary_colour_2-bg {
    background-color: rgba(102, 201, 137, 1);
}

ul > li.active > a {
    color: rgba(11, 90, 156, 1);
}

ul > li > a {
    color: rgba(46,137,182,1);
}

nav.sub ul ul {
    font-size: 85%;
}

nav.sub ul li.active a {
    font-weight: 500;
}

nav.sub ul ul li a {
    padding: 10px 15px;
}

.content .advanced-component .grid .secondary_colour_1-bg {
    background-color: rgba(46,137,182,1);
    color: rgba(255,255,255,1);
}