<nav class="sub panel panel-default">
	{% for link in data.field_link %}
		{% if loop.first %}
			<p class="heading">
				<a href="#">Header link</a>
			</p>
			<ul class="nav">
		{% elseif loop.last %}
				<li>
					<a href="{{ link.url }}"><span>{{ link.title }}</span></a>
				</li>
			</ul>
		{% else %}
			<li>
				<a href="{{ link.url }}"><span>{{ link.title }}</span></a>
			</li>
		{% endif %}
	{% endfor %}
</nav>
