<div class="item panel panel-default color-bg-green"><!--Estas clases definen el color de fondo "color-bg-green" "color-bg-main-blue" "color-bg-sec-blue"-->
	<div class="panel-body">
		<p class="heading">{{ data.field_titulo.value }}</p>
		<div class="info">
			<div class="text">
				<p>
					{{ data.field_descripcion.value|raw }}
				</p>
			</div>
		</div>  
	</div>
</div>