<div class="item panel panel-default">
	<div class="panel-body">
		<p class="heading">Documentos de registro ante el Gestor</p>
		<div class="info">
			<div class="text">
				<p><span class="intro"><a href="#" title="Vinculación">- Vinculación</a></span></p>
				<p><span class="intro"><a href="#" title="Actualización">- Actualización</a></span></p>
			</div>
		</div>
	</div>
</div>

<div class="item panel panel-default color-bg-main-blue">
	<div class="panel-body">
		<a href="#">
			<p class="heading">Sitios de Interés </p>
		</a>
		<div class="info">
			<div class="text">
				<p>Conozca todas las entidades que hacen parte del sector del Gas Natural en Colombia.</p>
			</div>
			<p class="link">
				<a href="#" class="btn btn-green">Ver todos</a>
			</p>
		</div>
	</div>
</div>