<div class="item panel panel-default color-bg-main-blue">
	<div class="panel-body">
		<a href="#">
			<p class="heading">{{ data.field_titulo.value }}</p>
		</a>
		<div class="info">
			<div class="text">
				<p>{{ data.field_descripcion.value }}</p>
			</div>
			<p class="link">
				<a href="{{ data.field_cta.url }}" class="btn btn-green">{{ data.field_cta.title }}</a>
			</p>
		</div>
	</div>
</div>
