<nav class="sub panel panel-default">
	<p class="heading">
		<a href="#">Header link</a>
	</p>
	<ul class="nav"> 
		{% for link in data.field_link %}
			<li>
				<a href="{{ link.field_link.url }}"><span>{{ link.field_link.title }}</span></a>
			</li>
		{% endfor %}
	</ul>
</nav>