<div class="page_component resources">
    <div class="list-group">
        {% for link in data.field_link %}
            <a href="{{link.url}}" title="Link will open in a new window/tab" target="_blank" class="item list-group-item odd">
                <p class="heading primary_colour_1-text">{{link.title}}<i class="fa fa-external-link pull-right after highlight primary_colour_1-text"></i></p>
                <div class="size">Link externo - {{link.url}}</div>
            </a>
		{% endfor %}
    </div>
</div>
