<section class="content">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1 class="heading">Acceso Prime</h1>
            </div>
        </div>
        <div class="row">
            <div id="left_col" class="col-sm-8" role="main">
                <p style="text-align: center;"><img style="width: 100%; height: auto;"
                                                    src="/media/1974/plantilla-banner-web-premium_21.png" alt=""
                                                    data-id="4009"></p>
                <p>&nbsp;</p>
                <p style="text-align: right;"><a href="/prime/registro/" title="Registro a Prime"
                                                 class="btn primary_colour_1-bg secondary_colour_3-text"><span>Aún no estoy inscrito, registrarme</span></a>
                </p>
                <p>&nbsp;</p>
                <p style="text-align: justify;">Si ya está registrado, ingrese al&nbsp;<em><strong>Acceso Prime</strong></em>&nbsp;con
                    su correo electrónico (usuario)&nbsp;y contraseña, enviados porterior al Congreso Naturgas 2018</p>
                <p>&nbsp;</p>
                <p>&nbsp;</p>

                <!-- FORM -->
                <form action="/prime/usuarios-registrados/" enctype="multipart/form-data" method="post"
                      novalidate="novalidate"><input name="__RequestVerificationToken" type="hidden"
                                                     value="3tYnoyo03EUjgL637giBE-2jC2GnKQdY_kgiUO6s69ZGooHMq5_9KrG_Yu0avDzOzRCtkHrX5DsZnsNy5ppToXWt4oLwQXPmQK8ZmQ3FZrw1">
                    <div class="login"
                         style="margin:10px; padding:20px; background-color:#f9f9f9; border:1px #CCC solid;">
                        <fieldset>
                            <legend>Ingrese los Datos de Acceso a la Sección Prime:</legend>
                            <div class="form-group">
                                <label for="Username" class="control-label">
                                    <!-- Username --> Correo Electrónico (será su usuario) <em class="req">*</em>
                                </label>
                                <input autocapitalize="off" class="form-control valid" data-val="true"
                                       data-val-required="The Username field is required." id="Username" name="Username"
                                       type="text" value="">
                                <span class="field-validation-valid" data-valmsg-for="Username"
                                      data-valmsg-replace="false">El Usuario es requerido</span>
                            </div>

                            <div class="form-group">
                                <label for="Password" class="control-label">
                                    <!-- Password --> Contraseña <em class="req">*</em>
                                </label>
                                <input class="form-control valid" data-val="true"
                                       data-val-required="The Password field is required." id="Password" name="Password"
                                       type="password">
                                <span class="field-validation-valid" data-valmsg-for="Password"
                                      data-valmsg-replace="false">La Contraseña es requerida</span>
                            </div>

                        </fieldset>
                        <fieldset>
                            <button class="btn primary_colour_1-bg secondary_colour_3-text" type="submit">
                                <span>Iniciar Sesión</span>
                            </button>
                            <!-- <a style="font-size:80%; margin-left:40px;" href="/prime/recuperar-clave/">Olvide mi Clave</a> -->
                        </fieldset>
                    </div>
                    <input name="ufprt" type="hidden"
                           value="8DAF447500BE61A9B4807D835B048723C5D7121E4928E531E655FE7083C9AECB4A31E8669CF5CE36B50BB83996BE24F5E27B1852E2CB99FD954D14AAF24C5F80498A085EBC655D210222946540698C7DBA44E51B180A37940673451E448F59E05611EBC0C45238C2D7631FDC97240CB31FD5D0D4F283F5AFB3EDCE1F2AD4433C55CD66E5509F0AE008EE501B867B8EC3564FF4C46033ADC0248EFB7B8F9EC5B1">
                </form>
                <!--// FORM -->

            </div>
            <!--// CONTENT COL -->

            <div id="right_col" class="col-sm-4 col-lg-3 col-lg-offset-1" role="complementary">            <!-- SUB  -->


                <!--// SUB -->
                <!-- PROMO PODS -->
                <div class="promo_pods ">

                    <div class="item panel panel-default odd">
                        <div class="panel-body primary_colour_2-bg">
                            <p class="heading secondary_colour_3-text">Nuestras Oficinas </p>
                            <div class="info">
                                <div class="text secondary_colour_3-text"><p>Calle 113 No. 7-21<br>Piso 15 Torre A <br>Edif.&nbsp;Teleport
                                        Business Park<br>Pbx: +57(1) 629-2529<br>Bogotá D.C., Colombia</p></div>


                            </div>
                        </div>
                    </div>
                    <div class="item codeblock even">
                        &nbsp;&nbsp;
                    </div>

                    <div class="item lists panel panel-default odd">
                        <div class="panel-body">
                            <div class="listing blog">
                                <p class="heading">Publicaciones Recientes</p>

                                <div class="item even" itemscope="" itemtype="http://schema.org/BlogPosting">
                                    <div class="info">
                                        <a href="/publicaciones/posts/noticias/noticias/diez-contratos-más-en-el-negocio-de-hidrocarburos/"
                                           itemprop="url">

                                            <p class="heading" itemprop="name headline">
                                                Diez contratos más en el negocio de hidrocarburos
                                            </p>
                                        </a>

                                    </div>
                                    <div class="meta">
                                        <div>
                                            <time itemprop="datePublished"><span class="date">27 Jun 2019</span></time>
                                        </div>
                                    </div>
                                </div>
                                <div class="item odd" itemscope="" itemtype="http://schema.org/BlogPosting">
                                    <div class="info">
                                        <a href="/publicaciones/posts/noticias/noticias/g-037-publicación-definitiva-de-la-oferta-de-ptdvf-y-cidvf/"
                                           itemprop="url">

                                            <p class="heading" itemprop="name headline">
                                                G-037 Publicación Definitiva de la Oferta de PTDVF y CIDVF
                                            </p>
                                        </a>

                                    </div>
                                    <div class="meta">
                                        <div>
                                            <time itemprop="datePublished"><span class="date">26 Jun 2019</span></time>
                                        </div>
                                    </div>
                                </div>
                                <div class="item even" itemscope="" itemtype="http://schema.org/BlogPosting">
                                    <div class="info">
                                        <a href="/publicaciones/posts/noticias/noticias/producción-de-gas-crece-10-5-en-lo-que-va-del-año/"
                                           itemprop="url">

                                            <p class="heading" itemprop="name headline">
                                                Producción de gas crece 10,5% en lo que va del año
                                            </p>
                                        </a>

                                    </div>
                                    <div class="meta">
                                        <div>
                                            <time itemprop="datePublished"><span class="date">26 Jun 2019</span></time>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <a class="see_all" href="/publicaciones/">Ver todos</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>