<div class="row page_component gallery">
	<div class="item col-md-4 col-xs-6">
		<div class="image">
			<a href="http://www.bmcbec.com.co/media/1442/organigrama.png" data-title="Estructura Organizacional | Bolsa Mercantil de Colombia" data-toggle="lightbox" data-type="image" data-gallery="galleryname-1470">
				<img src="http://www.bmcbec.com.co/media/1442/organigrama.png" alt="Estructura Organizacional | Bolsa Mercantil de Colombia | BMC">
				<div class="overlayicon"><i class="fa fa-expand"></i></div>
			</a>
		</div>
	</div>
	<div class="item col-md-4 col-xs-6">
		<div class="image">
			<a href="http://www.bmcbec.com.co/media/1442/organigrama.png" data-title="Estructura Organizacional | Bolsa Mercantil de Colombia" data-toggle="lightbox" data-type="image" data-gallery="galleryname-1470">
				<img src="http://www.bmcbec.com.co/media/1442/organigrama.png" alt="Estructura Organizacional | Bolsa Mercantil de Colombia | BMC">
				<div class="overlayicon"><i class="fa fa-expand"></i></div>
			</a>
		</div>
	</div>
	<div class="item col-md-4 col-xs-6">
		<div class="image">
			<a href="http://www.bmcbec.com.co/media/1442/organigrama.png" data-title="Estructura Organizacional | Bolsa Mercantil de Colombia"  data-toggle="lightbox" data-type="image" data-gallery="galleryname-1470">
				<img src="http://www.bmcbec.com.co/media/1442/organigrama.png" alt="Estructura Organizacional | Bolsa Mercantil de Colombia | BMC">
				<div class="overlayicon"><i class="fa fa-expand"></i></div>
			</a>
		</div>
	</div>
</div>