<section class="content advanced-component text-center">
	<div class="container">
		<div class="row">
			<div id="mid_col" class="col-md-8 col-md-offset-2 col-xs-12" role="main">
				<div class="page_component title-page">
				    <div class="header-section text-center heading">
				    	<h2>Producci칩n Total Disponible para la Venta en Firme PTDVF y Cantidades Importadas Disponibles para la Venta en Firme CIDVF</h2>
				    </div>
					<p>
						<span class="intro">En esta secci칩n se podr치 encontrar&nbsp;la declaraci칩n de la PTDVF y las CIDVF, discriminadas por fuente y agente.</span>
					</p>
				</div>
			</div>
		</div>
	</div>
</section>