<div class="page_component textblock">
	<h2 class="heading">Estructura Corporativa</h2>
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras convallis neque et urna iaculis egestas. Sed ut felis a ipsum dapibus scelerisque et varius eros. Nunc vitae libero ac leo porta luctus.</p>
	<p><sub>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</sub></p>
</div>