<section class="content">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1 class="heading">Acceso Prime</h1>
            </div>
        </div>
        <div class="row">
            {{ page.content }}
            <div id="right_col" class="col-sm-4 col-lg-3 col-lg-offset-1" role="complementary">
                <div class="promo_pods ">
                    <div class="item panel panel-default odd">
                        <div class="panel-body primary_colour_2-bg">
                            <p class="heading secondary_colour_3-text">Nuestras Oficinas </p>
                            <div class="info">
                                <div class="text secondary_colour_3-text">
                                    <p>Calle 113 No. 7-21<br>Piso 15 Torre A
                                        <br>Edif.&nbsp;Teleport Business Park
                                        <br>Pbx: +57(1) 629-2529
                                        <br>Bogotá D.C., Colombia
                                    </p>
                                </div>
                                <p class="link"><a href="/contáctenos/#pos_1327" class="btn secondary_colour_3-bg primary_colour_1-text">Escríbanos sus comentarios</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="item codeblock even">
                        &nbsp;&nbsp;
                    </div>
                    <div class="item lists panel panel-default odd">
                        {{ drupal_block('recent_publications_block') }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
